<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  
  
  <resource-ref>
      <description>JNDI JDBC DataSource of JSPExapmle</description>
      <res-ref-name>reg</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>
  
  
  <servlet>
    <servlet-name>Login_Servlet</servlet-name>
    <servlet-class>com.servlet.Login_Servlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>add_Servlet</servlet-name>
    <servlet-class>com.servlet.add_Servlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>look_Servlet</servlet-name>
    <servlet-class>com.servlet.look_Servlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>delete_Servlet</servlet-name>
    <servlet-class>com.tsinghua.servlet.delete_Servlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>modi_Servlet</servlet-name>
    <servlet-class>com.servlet.modi_Servlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>deta_Servlet</servlet-name>
    <servlet-class>com.servlet.deta_Servlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>search_Server</servlet-name>
    <servlet-class>com.servlet.search_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addUser_Servlet</servlet-name>
    <servlet-class>com.servlet.addUser_Servlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>Login_Servlet</servlet-name>
    <url-pattern>/servlet/Login_Servlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>add_Servlet</servlet-name>
    <url-pattern>/servlet/add_Servlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>look_Servlet</servlet-name>
    <url-pattern>/servlet/look_Servlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>delete_Servlet</servlet-name>
    <url-pattern>/servlet/delete_Servlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  
    <servlet-name>modi_Servlet</servlet-name>
    <url-pattern>/servlet/modi_Servlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>deta_Servlet</servlet-name>
    <url-pattern>/servlet/deta_Servlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>search_Server</servlet-name>
    <url-pattern>/servlet/search_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addUser_Servlet</servlet-name>
    <url-pattern>/servlet/addUser_Servlet</url-pattern>
  </servlet-mapping>

</web-app>
